:root {
  --red-color: #fef4f3;
  --dark-red-color: #6e1d28;
  --yellow-color: #fefaf1;
  --dark-yellow-color: #694d1e;
  --green-color: #f4f9f3;
  --dark-green-color: #335b26;
  --dark-color: #363530;
  --gray-color: #e9e9e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px 250px 0 250px;
  font-family: "Cairo", sans-serif;
}

/* Button */
.btn {
  background-color: var(--dark-red-color);
  color: white;
  border: none;
  width: 120px;
  height: 55px;
  font-weight: 600;
}

/* Input Of Todo */
.inTodo {
  background-color: #e9e9e9;
  color: var(--dark-color);
  border: none;
  width: 360px;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
  margin-right: 16px;
}

.inTodo:focus {
  outline: none;
}

/* Line */
.line {
  width: 100%;
  height: 2px;
  background-color: var(--gray-color);
  margin-top: 48px;
  margin-bottom: 48px;
}

/* Border Raduis */
.b-r-10 {
  border-radius: 10px;
}

/* Padding */
.p-t-12 {
  padding-top: 12px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-b-12 {
  padding-bottom: 12px;
}

.p-l-12 {
  padding-left: 12px;
}

/* Flex */
.flex-c {
  display: flex;
  flex-direction: column;
}

/* Transation */
.tra {
  transition: all 0.3s ease;
}

/* Fonts */
.f-w-900 {
  font-weight: 900;
}

/* Body */

.title {
  color: var(--dark-color);
  font-size: 68px;
  margin-bottom: 22px;
}

.desc {
  font-size: 18px;
  color: var(--dark-color);
  margin-bottom: 32px;
  width: 70%;
  font-weight: 600;
}

.todos-body {
  display: flex;
  justify-content: space-between;
}

.todo {
  width: 30%;
  background-color: var(--red-color);
}
.todo h2 {
  color: var(--dark-red-color);
}

.progress {
  width: 30%;
  background-color: var(--yellow-color);
}

.progress h2 {
  color: var(--dark-yellow-color);
}

.done {
  width: 30%;
  background-color: var(--green-color);
}

.done h2 {
  color: var(--dark-green-color);
}

#todo-div,
#progress-div,
#done-div {
  width: 100%;
  height: 100%;
}

.todo-r {
  background-color: #fff;
  height: 40px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  margin-top: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
